
# starter workflow
name: ci
on:
    workflow_dispatch:
    push:
      branches:
        - main
    pull_request:
jobs:
    Bash-Linter:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout code
            uses: actions/checkout@v1
          - name: Run ShellCheck
            uses: azohra/shell-linter@latest
            with:
              exclude-paths: "LICENSE, VERSION"
          - name: Run clear-config (critical)
            run: |
                ./tools/clear-conf.sh
